.advantages__list {
  margin: {
    top: 41px;
    bottom: 49px;
  }
  counter-reset: advantages;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 112px;
    margin: {
      top: 0;
      bottom: 103px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 77px;
    margin-bottom: 135px;
  }
}

.advantages__title {
  padding: 0;
  margin: 0;
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font: {
      size: 60px;
      weight: 400;
    }
    line-height: 60px;
    padding: {
      top: 45px;
      bottom: 52px;
      left: 10px;
    }
    color: $black;
  }

  @media (min-width: $desktop-width) {
    font: {
      size: 60px;
      weight:400;
    }
    line-height: 60px;
    padding: {
      top: 0;
      left: 0;
    }
  }
}

.advantages__item {
  position: relative;
  display: flex;
  padding-top: 20px;

  &:first-child {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding: {
      right: 74px;
      left: 10px;
    }

    &:first-child {
      padding-top: 20px;
    }

    &--br {
      display: inline-block;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      right: 0;
      left: 0;
    }
  }
}

.advantages__item::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 55%;
    right: 38%;
    display: block;
    content: counter(advantages);
    counter-increment: advantages;
    font-size: 280px;
    color: #f2f2f2;
    z-index: -1;
    height: 290px;
    bottom: 0;
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    right: 17%;
  }
}

.advantages__img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 10px;
    background-color: $basic-green;
  }
}

.advantages__text {
  font-family: $arial;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
  }
}

* + .advantages__text {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: {
      top: 20px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }
}
