.advice {
  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 80px;
  }
}

.advice__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding-right: 40px;
  }
}

.advice__list {
  display: flex;
  flex-direction: column;
}

.advice__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 20px;
      right: 37px;
      bottom: 10px;
      left: 37px;
    }
    border: {
      top: 1px solid $special-grey;
      right: 1px solid $special-grey;
      bottom: none;
      left: 1px solid $special-grey;
    }

    &:last-child {
      border-bottom: 1px solid $special-grey;
    }
  }

  @media (min-width: $desktop-width) {
    border: {
      right: none;
      left: none;
    }
    padding: {
      top: 15px;
      right: 0;
      bottom: 15px;
      left: 0;
    }
    flex-direction: row;
    justify-content: space-between;
  }
}

.advice__heading {
  font: {
    size: 16px;
    weight: 400;
  }
  color: $special-dark-grey;
  text-transform: uppercase;
  margin: 0;
  padding: {
    top: 12px;
    bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: {
      top: 6px;
      bottom: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 0;
      bottom: 0;
    }
  }
}

.advice__specs {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-basis: 300px;
  }
}

.advice__specs-item {
  font-family: $arial;
  line-height: 14px;

  &:nth-child(2) {
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &:nth-child(2) {
      padding-left: 50px;
    }
  }
}

.advice__btn {
  display: block;
  font-family: $OswaldRegular;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  border: none;
  height: 40px;
  margin: {
    top: 15px;
    bottom: 17px;
  }
  text-transform: uppercase;
  background-color: $basic-green;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $special-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    margin: 0;
  }
}
