.advice {
  padding-top: 25px;
}

.advice__container {
  max-width: 900px;
}

.advice__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advice__list {
  display: flex;
  flex-direction: column;
}

.advice__title {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: {
      right: 20px;
      bottom: 80px;
      left: 20px;
    }
    font-size: 36px;
    line-height: 36px;
  }
}

.advice__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 20px;
      right: 30px;
      bottom: 20px;
      left: 30px;
    }
    border: {
      top: 1px solid $special-grey;
      right: 1px solid $special-grey;
      bottom: none;
      left: 1px solid $special-grey;
    }

    &:last-child {
      border-bottom: 1px solid $special-grey;
    }
  }

  @media (min-width: $desktop-width) {
    border: {
      right: none;
      left: none;
    }
  }
}

.advice__heading {
  font-size: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;
  margin: {
    top: 13px;
    bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.advice__specs {
  display: flex;
  justify-content: space-between;
}

.advice__specs-item {
  font-family: $arial;
  line-height: 14px;

  &:nth-child(2) {
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      padding-left: 50px;
    }
  }
}

.advice__btn {
  color: $white;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: {
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
  }
  margin: {
    top: 15px;
    bottom: 15px;
  }
  text-transform: uppercase;
  background-color: $basic-green;
}
