.benefit {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/mobile/benefit-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: {
    top: 35px;
    right: auto;
    bottom: 35px;
    left: auto;
  }
  padding: {
    top: 64px;
    bottom: 40px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/mobile/benefit-bg@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../img/tablet/benefit-bg.png");
    margin: {
      top: 67px;
      bottom: 77px;
    }
    padding-bottom: 66px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tablet/benefit-bg@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../../img/desktop/benefit-bg.png");


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/benefit-bg@2x.png");
    }
  }

  &::before {
    content: "";
    display: block;
    width: 240px;
    height: 68px;
    background: url("../../img/mobile/benefit-gift-icon.svg") no-repeat center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    padding: {
      top: 63px;
      bottom: 20px;
    }
  }
}

.benefit__text {
  margin: 0;
  padding: {
    top: 55px;
    right: 57px;
    left: 55px;
    bottom: 1px;
  }
  text-align: center;
  font: {
    size: 16px;
    family: $arial;
  }
  line-height: 20px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 161px;
    padding: {
      top: 8px;
      right: 124px;
      left: 0;
    }
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 0;
    padding-top: 55px;
  }
}
