.benefit {
  padding: {
    top: 35px;
    bottom: 35px;
  }
}

.benefit__container {
  background:
    linear-gradient(rgba(104, 183, 56, 0.85) 50%, $white 50%),
    url("../../img/mobile/benefit-bg.png") no-repeat 0 0;
  background-size: 100%;
}

.benefit__text {
  font-family: $arial;
  color: $white;
  margin: 0;
  text-align: center;
}
