.benefit {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/mobile/benefit-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 634px;
  margin: {
    top: 20px;
    right: auto;
    bottom: 20px;
    left: auto;
  }
  padding: {
    top: 40px;
    bottom: 40px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/mobile/benefit-bg@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../img/tablet/benefit-bg.png");


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tablet/benefit-bg@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../../img/desktop/benefit-bg.png");


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/benefit-bg@2x.png");
    }
  }

  &::before {
    content: "";
    margin: 50px 0 50px;
    display: block;
    width: 240px;
    height: 68px;
    background: url("../../img/mobile/benefit-gift-icon.svg") no-repeat center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    padding: 0;
  }
}

.benefit__text {
  flex-grow: 1;
  margin: 0;
  padding: {
    right: 60px;
    left: 60px;
  }
  text-align: center;
  font-family: $arial;
  line-height: 18px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 160px;
    padding: {
      right: 100px;
      left: 0;
    }
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 0;
  }
}
