.benefit {
  margin: {
    top: 35px;
    bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    margin: {
      top: 75px;
      bottom: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 245px;
    margin: 0;
  }
}

.benefit__container {
  position: relative;
  background-image: url("../../img/mobile/benefit-bg.png");
  background-repeat: no-repeat;
  background-color: rgb(98, 165, 59);
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/mobile/benefit-bg@2x.png");
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/tablet/benefit-bg.png");
    background-size: cover;
    background-position: 50% 60%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tablet/benefit-bg@2x.png");
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/desktop/benefit-bg.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/benefit-bg@2x.png");
      background-size: contain;
    }
  }
}

.benefit__text {
  position: relative;
  font: {
    size: 16px;
    family: $arial;
  }
  line-height: 20px;
  color: $white;
  margin: 0;
  padding: {
    top: 187px;
    right: 60px;
    bottom: 45px;
    left: 60px;
  }
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: url("../../img/mobile/benefit-gift-icon.svg") no-repeat 0 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 160px;
    margin: {
      right: 65px;
      left: auto;
    }
    padding: {
      top: 70px;
      bottom: 70px;
    }
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    text-align: center;
    padding: {
      left: 40px;
      right: 40px;
      bottom: 0;
      top: 185px;
    }
  }
}
