.catalog__title {
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 36px;
  color: $black;
  margin: 0;
  padding: {
    top: 29px;
    bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: {
      top: 70px;
      bottom: 163px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 85px;
      bottom: 165px;
    }
  }
}

.catalog__uppercase {
  text-transform: uppercase;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 60px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 140px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-column-gap: 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-areas:
    "photo specs-list"
    "btn btn";
  grid-template-rows: 1fr 40px;
  grid-template-columns: 1fr 1fr;
  padding: {
    top: 20px;
    bottom: 25px;
  }
  border-bottom: 1px solid $special-grey;

  &--more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../img/mobile/catalog-plus-icon.svg") no-repeat 0 0;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "specs-list"
      "btn";
    border: none;
    padding: {
      top: 0;
      right: 40px;
      bottom: 40px;
      left: 40px;
    }
    background-color: $basic-grey;

    &--more {
      background-color: $white;
      border: 1px solid $basic-grey;

      &::before {
        top: 25%;
        width: 60px;
        height: 60px;
        background-size: contain;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--more {
      padding-top: 150px;
    }
  }
}

.catalog__photo {
  grid-area: photo;
}

.catalog__heading {
  color: $special-dark-grey;
  text-transform: uppercase;
  font: {
    size: 16px;
    weight: 400;
  }
  line-height: 20px;
  margin: 0;
  padding: {
    right: 40px;
    bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: {
      right: 50px;
      bottom: 20px;
      left: 50px;
    }
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.catalog__specs-list {
  grid-area: specs-list;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}


.catalog__specs-item {
  display: flex;
  justify-content: space-between;
  font: {
    family: $arial;
    size: 12px;
  }
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: {
      top: 7px;
      bottom: 7px;
    }
    border-bottom: 1px dotted $special-grey;

    &:first-child {
      padding-top: 0;
    }
  }
}

.catalog__subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  padding: {
    top: 59px;
    bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    max-width: 135px;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 25px;
  }
}

.catalog__text {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
  }
}

.catalog__btn {
  width: 100%;
  font: {
    family: $OswaldRegular;
    size: 16px;
  }
  line-height: 20px;
  grid-area: btn;
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  margin-top: auto;
  border: none;

  &:hover,
  &:focus {
    background-color: $special-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    font-size: 16px;
    line-height: 20px;
    background-color: $basic-grey;
    color: $special-dark-grey;
    text-transform: uppercase;
    text-align: center;
    padding: {
      top: 10px;
      bottom: 10px;
    }
    border: none;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
