.contacts {
  position: relative;
  background-color: $basic-grey;

  &--index {
    background-color: $white;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: {
    top: 26px;
    bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 55px;
      bottom: 62px;
    }
    top: 90px;
    bottom: 90px;
    left: 90px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    max-width: 570px;
    top: 96px;
    bottom: 104px;
    left: 107px;
    padding: {
      top: 60px;
      left: 83px;
      right: 77px;
    }
    z-index: 1;
    background-color: $white;
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;
  font: {
    size: 16px;
    weight: 400;
  }
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: {
      top: 5px;
      left: 49px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__text {
  max-width: 140px;
  font-family: $arial;
  margin: 0;
  font-style: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    padding: {
      top: 2px;
      right: 50px;
    }

    &--br {
      display: inline-block;
      padding-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0;
    margin-top: -2px;

    &--br {
      padding-top: 18px;
    }
  }
}

.contacts__map {
  display: block;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}
