.contacts {
  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: {
    top: 25px;
    bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 55px;
      bottom: 55px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    min-width: 565px;
    z-index: 1;
    padding: {
      top: 50px;
      right: 80px;
      bottom: 50px;
      left: 80px;
    }
    background-color: $white;
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  max-width: 140px;
  font-family: $arial;
  margin: 0;
  font-style: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &--br {
      display: inline-block;
      padding-top: 20px;
    }
  }
}

.contacts__map {
  display: block;
  width: 100%;
  border: none;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}
