.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-family: $arial;
  font-size: 16px;
  line-height: 18px;
  margin: 0;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}

.copyright__link {
  width: 30px;
  height: 35px;
  background: url("../../img/mobile/logo-academy.svg") no-repeat 0 0;
}
