.copyright {
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.copyright__link {
  width: 30px;
  height: 35px;
  background: url("../../img/mobile/png/logo-academy.png") no-repeat 0 0;
}
