.example {
  padding: {
    top: 25px;
  }
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: $white;
    border-top: 1px solid #e6e6e6;

    &--br {
      display: inline-block;
    }
  }

  @media (min-width: $desktop-width) {
    border-top: none;
  }
}

.example__wrapper {
  .container {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $basic-grey;
    padding-bottom: 75px;
  }

  // .container {
  //   justify-content: space-around;
  //   flex-basis: 100%;
  // }
}

.example__container {
  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}

.example__title {
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 40px;
  color: $black;
  margin: 0;
  padding: {
    bottom: 40px;
  };

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    padding: {
      top: 45px;
      bottom: 60px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 30px;
      bottom: 75px;
    }
    border-color: $white;
  }
}

.example__text {
  font-family: $arial;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: {
      right: 10px;
      bottom: 55px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding-top: 70px;
  }
}

.example__list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: {
    top: 0;
    bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
}

.example__subtitle {
  margin: 0;
  font: {
    size: 14px;
    weight: 400;
  }
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 200px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-transform: uppercase;
    padding: 0;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.example__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.example__item {
  position: relative;
  text-align: center;
  padding: {
    top: 15px;
    right: 20px;
    bottom: 17px;
    left: 20px;
  }
  border: 1px solid $special-grey;
  border-radius: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 120px;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.example__heading {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  font-family: $arial;
  margin: 0;
  font-size: 12px;
  line-height: 12px;

  span {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: {
      right: 10px;
      left: 10px;
    }
    background-color: #eaeaea;
    transform: translate(-50%, 50%);
    white-space: nowrap;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;

    span {
      background-color: $white;
      padding: {
        right: 10px;
        left: 10px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    span {
      background-color: #f2f2f2;
    }
  }
}

