.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($white 0, $white 125px, $basic-grey 125px, $basic-grey 100%);
    border-top: none;
    overflow: hidden;
    padding-top: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
  }
}

.example__title {
  margin: 0;
  padding: {
    top: 25px;
    bottom: 40px;
  }
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: {
      top: 53px;
      left: 10px;
      bottom: 73px;
    }
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__text {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    padding: {
      right: 16px;
      bottom: 54px;
      left: 10px;
    }
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: {
      top: 156px;
      right: 0;
      bottom: 70px;
      left: 0;
    }
    margin: 0;
  }
}

.example__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    padding: {
      right: 10px;
      left: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0;
  }
}

.example__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-bottom: 47px;
  }
}

.example__subtitle {
  color: $black;
  line-height: 20px;
  text: {
    align: center;
    transform: uppercase;
  }
  margin: {
    top: 0;
    bottom: 40px;
  }

  &--br {
    @media (min-width: $tablet-width) {
      display: block;
      padding-top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: {
      top: 11px;
      bottom: 0;
    }
    font-size: 20px;
    text-align: right;
  }


  @media (min-width: $desktop-width) {
    display: inherit;
    margin: 0;

    &--br {
      margin-left: 63px;
      padding-top: 0;
    }
  }
}
