.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 86px;
  }
}

.extra__title {
  position: relative;
  font: {
    size: 24px;
    weight: 400;
  }
  line-height: 24px;
  color: $black;
  margin: {
    top: 25px;
    bottom: 35px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
  }

  span {
    position: relative;
    display: inline-block;
    padding: {
      right: 20px;
      left: 20px;
    }
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    margin: {
      top: 30px;
      bottom: 30px;
    }
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}
