.features__item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-grow: 1;
  margin: 0;

  &:nth-child(2n) {
    margin-left: 30px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(2n) {
      margin-left: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
  }
}

.features__title {
  padding: 0 16px;
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 49%;
  font: {
    family: $arial;
    size: 12px;
  }
  line-height: 12px;
  text: {
    align: center;
    transform: lowercase;
  }
  background-color: #eaeaea;
  color: $black;
  transform: translate(-50%, 50%);

  @media (min-width: $tablet-width) {
    top: 56px;
    padding: 0 9px;
    font-size: 14px;
    background-color: #ffffff;
    white-space: nowrap;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.features__desc {
  min-width: 124px;
  margin: 0;
  padding: {
    top: 18px;
    right: 20px;
    bottom: 18px;
    left: 20px;
  }
  font-size: 24px;
  text: {
    align: center;
    transform: uppercase;
  }
  color: $black;
  border: 1px solid $special-grey;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
  }
}
