.form {
  padding: {
    top: 30px;
    bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 65px;
      bottom: 70px;
    }
  }
}

.form__form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    flex-basis: 100%;

    &--half {
      flex-basis: calc(50% - 40px);
      flex-shrink: 0;
    }
  }
}

.form__title {
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 36px;
  color: $black;
  padding-bottom: 35px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: {
      bottom: 55px;
      left: 0;
    }
  }
}

.form__heading {
  position: relative;
  font: {
    size: 24px;
    weight: 400;
  }
  line-height: 26px;
  color: $black;
  padding-bottom: 37px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
  }

  span {
    position: relative;
    display: inline-block;
    padding: {
      right: 20px;
      left: 20px;
    }
    margin-top: 20px;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}

.form__text {
  max-width: 230px;
  color: $black;
  padding-bottom: 40px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 325px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 56px;
  }
}

.form__label-text {
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  margin: {
    top: 7px;
    right: 15px;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-text {
  font-family: $OswaldRegular;
  flex-grow: 1;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  border: 1px solid #e7e7e7;
  padding: {
    top: 8px;
    bottom: 10px;
    left: 14px;
  };

  &::placeholder {
    font-size: 16px;
    color: #444444;
  }

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: $special-dark-grey;
  }

  &:disabled {
    border-color: #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__data-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }
}

.form__data-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;

  &:last-child {
    margin: 0;
  }
}

.form__radio-list {
  position: relative;
  padding: {
    top: 30px;
    bottom: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $special-grey;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 30px;
      bottom: 30px;
      left: 30px;
    }
    margin-bottom: 75px;
    border: 1px solid $special-grey;

    &::after,
    &::before {
      display: none;
    }
  }
}

.form__radio-list-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label-radio {
  position: relative;
  font-size: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-radio {
  display: none;
  position: relative;

  & + .form__label-radio::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    padding: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:checked + .form__label-radio::before {
    background-color: $basic-green;
    background-clip: content-box;
  }
}

.form__input-radio:not(:disabled):not(:checked) + .form__label-radio:hover::before {
  border-color: #bababa;
}

.form__input-radio:disabled + .form__label-radio::before {
  opacity: 0.3;
}

.form__contact-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: {
      top: 75px;
      bottom: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__contact-list-item {
  display: flex;
  margin-bottom: 13px;
  position: relative;

  @media (min-width: $desktop-width) {
    flex-basis: calc(50% - 40px);
  }
}

.form__contact-list-img {
  position: absolute;
  top: 15px;
  right: 20px;
}

.form__contact-list-item:focus .form__contact-list-img {
  fill: $basic-green;
}

.form__textarea {
  font-family: $OswaldRegular;
  width: 100%;
  border: 1px solid #e7e7e7;
  min-height: 150px;
  margin-bottom: 20px;

  &::placeholder {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    max-width: 630px;
    padding: {
      top: 10px;
      left: 20px;
    }

    &::placeholder {
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 170px;
  }
}

.form__extra-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.form__extra-list-item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.form__label-extra {
  position: relative;
  color: $black;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 0;
    border: 1px solid #cdcdcd;
  }
}

.form__input-check {
  display: none;
}

.form__input-check:checked + .form__label-extra::before {
  background: url("../../img/mobile/tick.svg") no-repeat center;
  background-size: 20px auto;
  background-clip: content-box;
}

.form__input-check:not(:disabled):not(:checked) + .form__label-extra:hover::before {
  border-color: #bababa;
}

.form__input-check:disabled + .form__label-extra::before {
  opacity: 0.3;
}

.form__submit {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
    justify-content: start;
  }
}

.form__submit-btn {
  font: {
    family:  $OswaldRegular;
    size: 16px;
  }
  background-color: $basic-green;
  color: $white;
  line-height: 20px;
  text-transform: uppercase;
  padding: {
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
  }
  margin-bottom: 20px;
  border: none;

  &:hover,
  &:focus {
    background-color: $special-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__required-field {
  font: {
    size: 14px;
    family: $arial;
  }
  line-height: 16px;
  align-self: center;
  color: $black;
}
