.form {
  padding: {
    top: 27px;
    bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 61px;
      bottom: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 72px;
      bottom: 83px;
    }
  }
}

.form__form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    padding: {
      right: 70px;
      left: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      right: 20px;
      left: 20px;
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    flex-basis: 100%;

    &--half {
      flex-basis: calc(50% - 40px);
      flex-shrink: 0;
    }
  }
}

.form__title {
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 36px;
  color: $black;
  padding-bottom: 37px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 55px;
  }
}

.form__heading {
  position: relative;
  font: {
    size: 24px;
    weight: 400;
  }
  line-height: 26px;
  color: $black;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20px);
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
  }

  span {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    span {
      padding: {
        right: 41px;
        left: 40px;
      }
      transform: translateX(-40px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 63%;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      width: 100vw;
      height: 2px;
      background-color: #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    span {
      padding: {
        right: 41px;
        left: 40px;
      }
      transform: translateX(-40px);
    }
  }
}

.form__contact {
  padding-top: 27px;

  h2 {
    width: 201px;
  }

  & + .form__heading::before {
    top: 34%;

    @media (min-width: $tablet-width) {
      top: 57%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;

    h2 {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -7px;
  }
}

.form__text {
  max-width: 230px;
  color: $black;
  padding-bottom: 40px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 325px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.form label {
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  align-self: center;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 7px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      right: 20px;
      bottom: 5px;
    }
  }
}

.form input {
  font-family: "OswaldRegular", "Arial", sans-serif;
  flex-grow: 1;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  margin-left: 15px;
  padding: {
    top: 9px;
    bottom: 9px;
    left: 16px;
  }
  overflow: hidden;

  &::placeholder {
    font-size: 16px;
    color: #444444;
  }

  &:hover {
    border: 1px solid $special-grey;
    box-shadow: 0 2px 6px $special-grey;
  }

  &:focus {
    border: 1px solid $special-green;
    box-shadow: 0 2px 6px $special-green;
  }

  &:disabled {
    border-color: #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: {
      top: 10px;
      bottom: 10px;
      left: 21px;
    }
    margin-left: 15px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.data-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 71px;
  }
}

.data-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 14px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.program-list {
  position: relative;
  padding: {
    top: 27px;
    bottom: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $special-grey;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 30px;
      bottom: 30px;
      left: 30px;
    }
    margin-bottom: 75px;
    border: 1px solid $special-grey;

    &::after,
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 12px;
  }
}

.program-list__item {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program-list__item label {
  position: relative;
  font-size: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
  }
}

.program-list__item input[type="radio"] {
  opacity: 0;
}

.program-list__item input {
  position: relative;

  & + label::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 14px;
    left: 0;
    top: -2px;
    padding: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      top: -3px;
    }

    @media (min-width: $desktop-width) {
      top: -4px;
      left: -2px;
    }
  }

  &:checked ~ label::before {
    background-color: $basic-green;
    background-clip: content-box;
  }
}

.program-list__item input:not(:disabled):not(:checked) + label:hover::before,
.program-list__item input:not(:disabled):not(:checked) + label:focus::before {
  border-color: $basic-green;
  box-shadow: 0 2px 6px $basic-green;
}

.program-list__item input:disabled + label::before {
  opacity: 0.3;
}

.contact-list {
  display: flex;
  flex-direction: column;
  padding: {
    top: 38px;
    bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 75px;
      bottom: 43px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 46px;
  }
}

.contact-list__item {
  display: flex;
  margin-bottom: 13px;
  position: relative;


  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: calc(50% - 40px);
  }
}

.contact-list__item svg {
  position: absolute;
  top: 15px;
  right: 16px;

  @media (min-width: $tablet-width) {
    top: 17px;
    right: 12px;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
    right: 17px;
  }
}

.contact-list__item input:focus + svg {
  color: $basic-green;
}

.contact-list__item input:disabled + svg {
  color: #ff8282;
}

.form__textarea {
  font-family: $OswaldRegular;
  width: 100%;
  border: 1px solid #e7e7e7;
  min-height: 144px;
  margin: {
    top: 38px;
    bottom: 24px;
  }
  padding: 0;
  padding-top: 3px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }

  &:hover {
    border: 1px solid $special-grey;
    box-shadow: 0 2px 6px $special-grey;
  }

  &:focus {
    border: 1px solid $basic-green;
    box-shadow: 0 2px 6px $basic-green;
  }

  @media (min-width: $tablet-width) {
    max-width: 609px;
    min-height: 163px;
    padding: {
      top: 10px;
      left: 20px;
    }
    margin: {
      top: 75px;
      bottom: 66px;
    }

    &::placeholder {
      text-align: left;
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    min-height: 163px;
    margin-top: 77px;
  }
}

.add-list {
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: {
      top: 55px;
      bottom: 12px;
    }
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    padding: {
      right: 24px;
      bottom: 53px;
    }
  }
}

.add-list__item {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    flex-basis: calc(50% - 30px);
    margin: {
      top: 11px;
      bottom: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    flex-basis: 221px;
  }
}

.add-list__item label {
  position: relative;
  color: $black;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 46px;
  bottom: 5px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 30px;
    left: 0;
    bottom: -5px;
    border: 1px solid #cdcdcd;
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;

    &::before {
      width: 38px;
      height: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
  }
}

.add-list__item input[type="checkbox"] {
  opacity: 0;
}

.add-list__item input:checked + label::before {
  background: url("../../img/mobile/tick.svg") no-repeat center;
  background-size: 20px auto;
  background-clip: content-box;
}

.add-list__item input:not(:disabled):not(:checked) + label:hover::before,
.add-list__item input:not(:disabled):not(:checked) + label:focus::before {
  border-color: $special-grey;
  box-shadow: 0 2px 6px $special-grey;
}

.add-list__item input:disabled + label::before {
  opacity: 0.3;
}

.form__submit {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
    justify-content: start;
  }
}

.form__submit-btn {
  font: {
    family:  $OswaldRegular;
    size: 16px;
  }
  background-color: $basic-green;
  color: $white;
  line-height: 20px;
  text-transform: uppercase;
  padding: {
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
  }
  margin: {
    top: 10px;
    bottom: 20px;
  }
  border: none;

  &:hover,
  &:focus {
    background-color: $special-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 45%;
    font-size: 20px;
    padding: {
      top: 15px;
      bottom: 15px;
    }
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
    width: 50%;
  }
}

.form__required-field {
  font: {
    size: 14px;
    family: $arial;
  }
  line-height: 16px;
  align-self: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: {
      left: 63px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: {
      top: 5px;
      bottom: 0;
      left: 66px;
    }
  }
}
