.form {
  padding: {
    top: 30px;
    bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 65px;
      bottom: 70px;
    }
  }
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  color: $black;
  padding-bottom: 35px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: {
      bottom: 55px;
      left: 0;
    }
  }
}

.form__heading {
  max-width: 185px;
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-left: 40px;
  }
}

.form__line {
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid $basic-green;
    margin: {
      top: 20px;
      left: -100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid $basic-green;
    margin: {
      top: 20px;
      left: 20px;
    }
  }
}

.form__text {
  max-width: 230px;
  color: $black;
  padding: {
    bottom: 40px;
    left: 20px;
  }
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 325px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 56px;
  }
}

.form__label-text {
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  margin: {
    top: 0;
    right: 10px;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-text {
  flex-grow: 1;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  border: 1px solid #e7e7e7;
  padding: {
    top: 10px;
    bottom: 10px;
    left: 8px;
  };

  &::placeholder {
    font-size: 16px;
    color: #444444;
  }

  &:hover {
    border: 2px solid $special-grey;
  }

  &:focus {
    border-color: #444444;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__data-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }
}

.form__data-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;

  &:last-child {
    margin: 0;
  }
}

.form__radio-list {
  padding: {
    top: 20px;
    bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    max-width: 630px;
    padding: {
      top: 30px;
      bottom: 30px;
      left: 30px;
    }
    margin-bottom: 75px;
    border: 1px solid $special-grey;
  }
}

.form__radio-list-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label-radio {
  position: relative;
  font-size: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-radio {
  display: none;

  & + .form__label-radio::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 0;
    background: url("../../img/mobile/radio-btn.svg") no-repeat 0 0;
  }

  &:checked + .form__label-radio::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 0;
    background: url("../../img/mobile/radio-active.svg") no-repeat 0 0;
  }
}

.form__contact-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: {
      top: 75px;
      bottom: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.form__contact-list-item {
  display: flex;
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__textarea {
  width: 100%;
  border: 1px solid #e7e7e7;
  min-height: 150px;
  margin-bottom: 22px;

  &::placeholder {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    padding: {
      top: 10px;
      left: 20px;
    }
    margin: {
      top: 75px;
      bottom: 65px;
    }

    &::placeholder {
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 170px;
  }
}

.form__extra-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.form__extra-list-item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.form__label-extra {
  position: relative;
  color: $black;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 40px;
}

.form__input-check {
  display: none;

  & + .form__label-extra::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 0;
    background: url("../../img/mobile/checkbox.svg") no-repeat 0 0;
  }

  &:checked + .form__label-extra::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 0;
    background: url("../../img/mobile/checkbox-active.svg") no-repeat 0 0;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__submit-btn {
  background-color: $basic-green;
  color: $white;
  line-height: 20px;
  text-transform: uppercase;
  padding: {
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
  }
  margin-bottom: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__required-field {
  font-family: $arial;
  line-height: 16px;
  align-self: center;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}
