.menu {
  font-size: 20px;
  color: $black;
  background-color: $white;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    border: none;
    background-color: transparent;
  }
}

.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;
  }
}

.menu__item {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  padding: {
    top: 23px;
    bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: {
      top: 5px;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.menu__link {
  @media (min-width: $tablet-width) {
    padding: {
      bottom: 6px;
    }

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    color: $black;
    padding: {
      bottom: 5px;
    }
  }
}
