.menu {
  position: absolute;
  font-size: 20px;
  color: $black;
  background-color: $white;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;

  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    flex-grow: 1;
    border: none;
    background-color: transparent;
  }
}

.menu__list {
  padding-left: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.menu__item {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  padding: {
    top: 23px;
    bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: {
      top: 0;
      bottom: 0;
    }
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.menu__link {
  @media (min-width: $tablet-width) {
    padding: {
      bottom: 6px;
    }

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    color: $black;
    padding: {
      bottom: 5px;
    }
  }
}
