.page-header {
  @media (min-width: $desktop-width) {
    &--home {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      .menu__link {
        color: $white;

        &--active {
          border-bottom: 2px solid $white;
        }
      }
    }
  }
}

.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 11px;
    bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: {
      top: 26px;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.page-header__logo-img {
  flex-basis: 40px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    flex-basis: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 70px;
  }
}

.page-header__logo-text {
  margin: auto;

  @media (min-width: $tablet-width) {
    img {
      width: 102px;
      height: 18px;
      margin: {
        top: 2px;
        left: 11px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    img {
      width: 118px;
      height: 30px;
      padding-top: 5px;
      margin-left: 14px;
    }
  }
}

.page-header__toggle {
  border: none;
  cursor: pointer;
  flex-basis: 40px;
  flex-shrink: 0;
  height: 30px;
  background: url("../../img/mobile/close-icon.svg") no-repeat 0 0;
  background-position: right;

  &--closed {
    background: url("../../img/mobile/burger.svg") no-repeat 0 0;
    background-position: right;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
