.page-footer {
  padding: {
    top: 42px;
    bottom: 20px;
  }
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: {
      top: 59px;
      bottom: 55px;
    }
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__logo-link {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 147px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
    text-align: left;
    padding-top: 10px;
  }
}

.page-footer__logo-img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
