.page-header {
  display: flex;
  flex-direction: column;
  padding: {
    right: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: {
      top: 25px;
      right: 20px;
      left: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 52px;
    }

    &--home {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      .menu__link {
        color: $white;

        &--active {
          border-bottom: 2px solid $white;
        }
      }
    }
  }
}

.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: {
    top: 3px;
    right: 20px;
    bottom: 6px;
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.page-header__logo {
  width: 35px;
  height: 40px;
  background-image: url("../../img/mobile/logo-img.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 175px;
    height: 50px;
    background-image: url("../../img/tablet/logo.svg");
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 60px;
    background-image: url("../../img/desktop/logo-desktop.svg");
  }
}

.page-header__logo--cat-energy {
  width: 105px;
  height: 55px;
  background-image: url("../../img/mobile/logo-cat-energy.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  border: none;
  cursor: pointer;
  width: 27px;
  height: 30px;
  background: url("../../img/mobile/close-icon.svg") no-repeat 0 0;
  background-position: center;

  &--closed {
    background: url("../../img/mobile/burger.svg") no-repeat 0 0;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
