.page-footer {
  padding: {
    top: 40px;
    bottom: 20px;
  }
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: {
      top: 55px;
      bottom: 55px;
    }
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__logo-link {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
