.products__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: {
      top: 83px;
      bottom: 72px;
    }
  }
}

.products__item {
  background-color: $basic-grey;
  padding: 20px;
  padding-bottom: 22px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: {
      top: 73px;
      bottom: 60px;
      left: 62px;
    }
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: {
      top: 0;
      right: 0;
      bottom: 61px;
      left: 52px;
    }
    margin-bottom: 0;
    flex-grow: 1;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.products__heading {
  position: relative;
  font: {
    size: 24px;
    weight: 400;
  }
  line-height: 37px;
  padding: {
    top: 10px;
    bottom: 30px;
    left: 70px;
  }
  margin: 0;
  text-transform: uppercase;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      width: 52px;
      height: 52px;
      background: url("../../img/mobile/products-cat-slim.svg") no-repeat 0 0;
      top: 1px;
      left: 1px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        content: "";
        right: 53px;
        width: 200px;
        height: 208px;
        background: url("../../img/tablet/products-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        content: "";
        position: absolute;
        top: 43px;
        left: -20px;
        width: 140px;
        height: 104px;
        background: url("../../img/tablet/products-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 50px;
      background: url("../../img/mobile/products-cat-pro.svg") no-repeat 0 0;
      top: 4px;
      left: -7px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 14px;
        width: 275px;
        height: 220px;
        background-image: url("../../img/tablet/products-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        content: "";
        position: absolute;
        top: 47px;
        left: -19px;
        width: 135px;
        height: 100px;
        background-image: url("../../img/tablet/products-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font: {
      size: 36px;
      weight: 400;
    }
    line-height: 26px;
    padding: {
      bottom: 28px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 36px;
    padding: {
      top: 78px;
      right: 0;
      bottom: 73px;
      left: 162px;
    }
  }
}

.products__text {
  position: relative;
  font-family: $arial;
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: {
      right: 305px;
      bottom: 57px;
    }
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: {
      right: 30px;
      bottom: 31px;
    }
  }
}

.products__link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    transition: all 0.2s ease-out;
  }

  &::before {
    width: 17px;
    height: 2px;
    order: 1;
    margin-left: 16px;
    background-color: $black;
  }

  &::after {
    order: 2;
    margin-top: 2px;
    border: 6px solid transparent;
    border-left-color: $black;
  }

  &:hover::before {
    width: 27px;
  }

  @media (min-width: $tablet-width) {
    display: inline-flex;
    font-size: 20px;
    line-height: 20px;
    padding-left: 2px;

    &::before {
      margin-left: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      margin-left: 26px;
    }
  }
}
