.products__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.products__item {
  background-color: $basic-grey;
  padding: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: {
      top: 70px;
      bottom: 57px;
      left: 50px;
    }
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    padding: {
      top: 0;
      right: 50px;
      bottom: 50px;
      left: 60px;
    }
    margin-bottom: 0;
  }
}

.products__heading {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  padding: {
    bottom: 30px;
    left: 70px;
  }
  margin: 0;
  text-transform: uppercase;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 55px;
      background: url("../../img/mobile/products-cat-slim.svg") no-repeat 0 0;
      left: 0;
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 50px;
      background: url("../../img/mobile/products-cat-pro.svg") no-repeat 0 0;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 26px;
    padding: {
      bottom: 24px;
      left: 0;
    }

    &--slim {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 200px;
        height: 200px;
        background: url("../../img/tablet/products-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &::before {
        display: none;
      }
    }

    &--pro {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 200px;
        height: 200px;
        background-image: url("../../img/tablet/products-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &::before {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 36px;
    padding: {
      top: 77px;
      right: 0;
      bottom: 73px;
      left: 0;
    }
    text-align: center;

    &--slim {
      &::after {
        content: "";
        position: absolute;
        top: 50px;
        left: -20px;
        width: 100px;
        height: 100px;
        background: url("../../img/tablet/products-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &--pro {
      &::after {
        content: "";
        position: absolute;
        top: 50px;
        left: -20px;
        width: 100px;
        height: 100px;
        background-image: url("../../img/tablet/products-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.products__text {
  position: relative;
  font-family: $arial;
  padding-bottom: 20px;
  margin-bottom: {
    top: 0;
    bottom: 20px;
  }
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.products__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 100px;
    width: 30px;
    height: 10px;
    background: url("../../img/mobile/products-arrow.svg") no-repeat 0 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;

    &::after {
      top: 10px;
      left: 125px;
    }
  }
}
