.promo {
  position: relative;
  padding-bottom: 20px;
  background-image:
    url("../../img/mobile/promo-bg.png"),
    linear-gradient(rgb(98, 165, 59) 302px, #ffffff 302px);
  background-repeat: no-repeat;
  background-color: rgb(98, 165, 59);
  background-position: center 0;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    width: 280px;
    min-height: 270px;
    background: url("../../img/mobile/promo.png") no-repeat 0 0;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../img/mobile/promo-bg@2x.png"),
      linear-gradient(rgb(98, 165, 59) 302px, #ffffff 302px);
    background-size: auto 302px, contain;

    &::after {
      background: url("../../img/mobile/promo@2x.png") no-repeat 0 0;
      background-size: auto 268px;
    }
  }

  @media (min-width: $tablet-width) {
    background: none;
    padding: {
      top: 61px;
      bottom: 525px;
      left: 95px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 700px;
      min-height: 600px;
      bottom: 9px;
      left: 380px;
      background: url("../../img/tablet/promo.png") no-repeat 0 0;
      z-index: -1;
    }

    @media (min-resolution: 2dppx) {
      &::after {
        background: url("../../img/tablet/promo@2x.png") no-repeat 0 0;
        background-size: contain;
        width: 707px;
        min-height: 606px;
        bottom: 2px;
        left: 386px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 120px;
      bottom: 185px;
      left: 33px;
    }

    background-image:
      url("../../img/desktop/promo-bg.png"),
      linear-gradient(to left, #62a53b 50%, #ffffff 50%);
    background-repeat: no-repeat;
    background-color: rgb(98, 165, 59);
    background-position: right 0;

    &::after {
      content: "";
      position: absolute;
      top: 140px;
      left: 50%;
      margin-left: 110px;
      width: 550px;
      min-height: 500px;
      background: url("../../img/desktop/promo.png") no-repeat 0 0;
      z-index: 1;
    }

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/desktop/promo-bg@2x.png"),
        linear-gradient(to left, #62a53b 50%, #ffffff 50%);
      background-repeat: no-repeat;
      background-color: rgb(98, 165, 59);
      background-position: right 0;
      background-size: contain;

      &::after {
        background-image: url("../../img/desktop/promo@2x.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: auto 500px, contain;
      }
    }
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    padding-left: 23px;
  }

  @media (min-width: $desktop-width) {
    padding: {
      left: 84px;
    }
  }
}

.promo__title {
  position: relative;
  font: {
    size: 36px;
    weight: 400;
  }
  line-height: 36px;
  color: $white;
  text-align: center;
  margin: 0;
  padding: {
    top: 27px;
    bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    max-width: 440px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: {
      top: 0;
      bottom: 40px;
    };
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 104px;
      bottom: 40px;
    }

    &::after {
      width: 550px;
      min-height: 500px;
      background-size: contain;
      top: 0;
      left: auto;
    }
  }
}

.promo__text {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 300px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    padding: {
      bottom: 50px;
    }
    text-align: left;
  }
}

.promo__btn {
  display: block;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $special-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding: {
      top: 17px;
      bottom: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 19px;
      bottom: 15px;
    }
  }
}
