.promo {
  position: relative;
  padding-bottom: 20px;
  background-image:
    url("../../img/mobile/promo-bg.jpg"),
    linear-gradient(rgb(98, 165, 59) 302px, #ffffff 302px);
  background-repeat: no-repeat;
  background-color: rgb(98, 165, 59);
  background-position: center 0;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 280px;
    min-height: 270px;
    background: url("../../img/mobile/promo.png") no-repeat 0 0;
  }

  @media (min-width: $tablet-width) {
    background: none;
    padding: {
      top: 60px;
      bottom: 530px;
      left: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 700px;
      min-height: 600px;
      background: url("../../img/tablet/promo.png") no-repeat 0 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: {
      top: 30px;
      bottom: 280px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 550px;
      min-height: 500px;
      background: url("../../img/desktop/promo.png") no-repeat 0 0;
    }
  }
}

.promo__title {
  position: relative;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
  margin: 0;
  padding: {
    top: 25px;
    bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    max-width: 440px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: {
      top: 0;
      bottom: 40px;
    };
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
    padding-bottom: 40px;

    &::after {
      width: 550px;
      min-height: 500px;
      background-size: contain;
      top: 0;
      left: auto;
    }
  }
}

.promo__text {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 300px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    padding: {
      bottom: 50px;
    }
    text-align: left;
  }
}

.promo__btn {
  display: block;
  padding: {
    top: 7px;
    bottom: 7px;
  }
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;
  text-align: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    padding: {
      top: 14px;
      bottom: 14px;
    }
  }
}
