.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin: 0 -120px;
    padding-bottom: 60px;
    background-image: linear-gradient($white 0, $white 180px, $basic-grey 180px, $basic-grey 100%);
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background-color: $basic-grey;
    padding-bottom: 0;
    background-image: linear-gradient($white 0, $white 125px, $basic-grey 125px, $basic-grey 100%);
  }
}

.slider__list {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 240px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
    top: 11px;

    img {
      width: 591px;
      height: 511px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 592px;
    top: -53px;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  &--after {
    display: none;
  }
}

.slider__heading {
  line-height: 20px;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

.slider__wrap {
  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }
}

.slider__range {
  position: relative;
  margin-top: 11px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
    width: 571px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.slider__text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  &:active {
    border: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    border-bottom: 1px dotted $black;
  }
}

.slider__scale {
  width: 83px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  margin: {
    top: 4px;
    right: 18px;
    left: 18px;
  }
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 423px;
    height: 4px;
    margin: {
      right: 0;
      left: 0;
    }
    border-radius: 5px;
    background-color: $special-grey;
  }
}

.slider__toggle {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 36px;
  height: 6px;
  border-radius: 6px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    margin: {
      top: 9px;
      left: 206px;
    }
    top: -10px;
    z-index: 1;
    background-image: radial-gradient($basic-green 0, $basic-green 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid $special-grey;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer;


    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $basic-green;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }
}
