.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin: 0 -120px;
    padding-bottom: 60px;
    background-image: linear-gradient($white 0, $white 180px, $basic-grey 180px, $basic-grey 100%);
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background-color: transparent;
    padding-bottom: 0;
    background-image: none;
    transform: translateY(-51px);
  }
}

.slider__wrapper {
  width: 280px;
  height: 240px;
  overflow: hidden;
}

.slider__list {
  display: flex;
  position: relative;
  left: 0;
  width: 560px;
  height: 240px;
  margin: 0 auto;
  transition: all ease 1s;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
    top: 11px;

    img {
      width: 591px;
      height: 511px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 592px;
    top: initial;
  }
}

.slider__heading {
  line-height: 20px;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

.slider__range {
  position: relative;
  margin-top: 11px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
    width: 571px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
  }
}
