.social {
  padding: {
    top: 20px;
    bottom: 17px;
  }
  border: {
    top: 1px solid #d9d9d9;
    bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin: 0 auto;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: {
    right: 67px;
    left: 63px;
  }

  &:nth-child(2n) {
    margin: {
      right: 35px;
      left: 35px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: block;
}

.social__link:hover .social__img {
  fill: $basic-green;
}
