.social {
  padding: {
    top: 20px;
    bottom: 20px;
  }
  margin: 20px;
  border: {
    top: 1px solid #d9d9d9;
    bottom: 1px solid #d9d9d9;
  }
}

.social__list {
  justify-content: center;
  align-items: center;

  &:nth-child(2n) {
    margin: {
      right: 35px;
      left: 35px;
    }
  }
}

.social__link {
  display: block;

  &--vk {
    width: 25px;
    height: 15px;
    background: url("../../img/mobile/svg/vk.svg") no-repeat 0 0;
  }

  &--inst {
    width: 16px;
    height: 16px;
    background: url("../../img/mobile/svg/inst.svg") no-repeat 0 0;
  }

  &--fb {
    width: 22px;
    height: 22px;
    background: url("../../img/mobile/svg/fb.svg") no-repeat 0 0;
  }
}
