.social {
  padding: {
    top: 20px;
    bottom: 17px;
  }
  border: {
    top: 1px solid #d9d9d9;
    bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin: 0 auto;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: {
    right: 67px;
    left: 63px;
  }

  &:nth-child(2n) {
    margin: {
      right: 35px;
      left: 35px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item + .social__item {
  margin-left: 22px;
}

.social__link {
  display: block;

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 22px;

      svg {
        width: 30px;
        height: 22px;
      }
    }

    &--inst {
      width: 23px;
      height: 23px;

      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--fb {
      width: 28px;
      height: 33px;

      svg {
        width: 28px;
        height: 33px;
      }
    }
  }
}

.social__link:hover .social__img {
  color: $basic-green;
}

.social__link:focus .social__img {
  opacity: 0.3;
}
