//viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//colors
$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-dark-grey: #222222;

//fonts
$arial: "Arial", sans-serif;
