//viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//colors
$basic-color: #444444;
$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;

//fonts
$basic-font-family: "OswaldRegular", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$basic-font-size: 14px;
$basic-line-height: 18px;
$font-size-16: 16px;
$font-size-24: 24px;
$font-size-36: 36px;
